<h1>counter : {{counter}}</h1>

<ul>
  {{#each items}}
  <li>{{this}}</li>
  {{/each}}
</ul>


<form action="/" class="for-form" method="post">
  <input type="text" name="item" placeholder="itemname">
  <button>ADD</button>
</form>
