<h1>counter : {{counter}}</h1>

<ol>
  {{#each items}}
  <li>{{this.name}}</li>
  {{/each}}
</ol>


{{#if username}}
<form action="/" method="post">
  <input type="text" name="name" placeholder="enter itemname">
  <button>ADD</button>
</form>
{{else}}
<div class="userfield">

  данные могут добавлять только пользователи</div>
{{/if}}
