<h1>counter : {{counter}}</h1>

<div>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut accusantium voluptatibus quisquam saepe, non asperiores
  ipsa tempore soluta distinctio esse fugiat ad. Dicta et iure, eaque adipisci hic, nostrum, blanditiis repudiandae eum
  reiciendis minima voluptas officiis dolore! Blanditiis facere mollitia corporis eos, harum consequuntur porro
  recusandae enim expedita dignissimos odio quaerat modi perspiciatis perferendis alias ea soluta ad quidem in quisquam
  numquam laboriosam, delectus officia. A ratione unde cum eos delectus voluptatum eligendi tempore iste illum at labore
  aliquid temporibus accusantium neque nisi numquam repellendus, est corrupti quam quidem non. Deleniti adipisci sit ab
  praesentium nulla? Labore sapiente recusandae neque?
</div>
