.main-nav {
  display: flex;
  justify-content: space-between;
  background-color: fuchsia;
  margin: 0 0 20px 0;
  padding: 20px;
  font-size: large;
  font-weight: 900;
}

body {
  background-color: deepskyblue;
  margin: 0;
}

.userfield {
  margin: 20px;
  padding: 10px;
  background-color: lightskyblue;
  border-radius: 10px;
  width: 150px;
  /* border: 2px white solid; */
}

.main-container {
  margin: 20px;
  padding: 10px;
}

.for-form {
  margin: 20px;
  padding: 20px;
}
