.main-nav {
  display: flex;
  justify-content: space-between;
  background-color: fuchsia;
  margin: 0 0 20px 0;
  padding: 20px;
  font-size: large;
  font-weight: 900;
}

body {
  background-color: deepskyblue;
  margin: 0;
}

.userfield {
  margin: 20px;
  padding: 10px;
  background-color: rgb(181, 166, 248);
  border-radius: 10px;
  width: 100px;
  border: 2px white solid;
}
