.main-nav {
  display: flex;
  justify-content: space-around;
  background-color: fuchsia;
  margin: 0 0 20px 0;
  padding: 20px;
  font-size: xx-large;
  font-weight: 900;
  color: rgb(99, 14, 99);
}

/* a:link {
  text-decoration: none;
} */

a {
  color: rgb(99, 14, 99);
  text-decoration: none;
}

body {
  background-color: deepskyblue;
  margin: 0;
}

.userfield {
  margin: 20px;
  padding: 10px;
  background-color: lightskyblue;
  border-radius: 10px;
  width: 150px;
  font-size: larger;
  /* border: 2px white solid; */
}

.main-container {
  margin: 20px;
  padding: 10px;
}
